<!-- Form to register edit existing Writings. Submit button submits the form and passes the information to the writings.js route file.  -->
<!-- Also includes a button to redirect user back to the Show page of the selected Writing. -->
<!-- Module created in part by Dylan Britain and Duy Tran -->

<!-- Inlcude boilerplate -->
<% layout('./layouts/boilerplate') %> 

<!-- Render Edit form. Nearly identical to New form, but remembers past values. -->
    <div class="row">
        <h1 class="text-center">Edit Writing</h1>
        <div class="col-6 offset-3">
            <form action="/writings/<%= writing._id %>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="writing[title]" value="<%= writing.title %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="writingText">Writing Text</label>
                    <textarea class="form-control" type="text" id="writingText" name="writing[writingText]" rows="10" required><%= writing.writingText %></textarea>
                </div> 
                
                <!-- Submit button -->
                <div class="mb-3">
                    <button class="btn btn-info">Update Writing</button>
                </div>  
            </form>    
            
            <!-- Redirect user back to the original Writing -->
            <a href="/writings/<%= writing._id %> ">Back to Writings</a>
        </div>
    </div>