<% layout('./layouts/boilerplate') %> 
    <h1>ALL WRITINGS</h1>

        <% for (let writing of writings) {%> 
            <li><a href="/writings/<%= writing._id %> "><%= writing.title %></a> </li>
        <% } %> 

