<!-- Simple view to render a-tags of all uploaded writings. Clicking the text will redirect the User to that Writing's show page.  -->
<!-- Module created in part by Dylan Britain and Duy Tran -->

<!-- Include boilerplate -->
<% layout('./layouts/boilerplate') %> 
    <h1>ALL WRITINGS</h1>

    <!-- Loop through all published writings and create a list of anchor tags linking to their respective show page -->
        <% for (let writing of writings) {%> 
            <li><a href="/writings/<%= writing._id %> "><%= writing.title %></a> </li>
        <% } %> 

