<% layout('./layouts/boilerplate') %> 
    <div class="row">
        <h1 class="text-center">New Writing</h1>
        <div class="col-6 offset-3">
            <form action="/writings" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="writing[title]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="writingText">Writing Text</label>
                    <textarea class="form-control" type="text" id="writingText" name="writing[writingText]" rows="10" required></textarea>
                </div>    
                <div class="mb-3">
                    <button class="btn btn-success">Add Writing</button>
                </div>  
            </form>           
            <a href="/writings">Back to All Writings</a>
        </div>
    </div>