<!-- Simple footer with project name -->
<!-- Module created in part by Minjing Liang -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            &copy;WritePad 2021
        </span>
    </div>
</footer>