<!-- Navbar Partial to be included in boilerplate within each view. Links to Home, Writings, Write, Login, Register, and Login -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">>WritePad_</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/writings">Writings</a>
          <a class="nav-link" href="/writings/new">Write</a>
        </div>
        <div class="navbar-nav ms-auto">
          <!-- If the user is not logged in yet, display Login and Register buttons. If the user is logged in, display logout button -->
          <% if(!currentUser) { %> 
          <a href="/login" class="nav-link">Login</a>
          <a href="/register" class="nav-link">Register</a>
          <% } else{ %> 
          <a href="/logout" class="nav-link">Logout</a>
          <% } %> 
        </div>
      </div>
    </div>
  </nav>