<% layout('./layouts/boilerplate') %> 
    <h1>ALL STORIES</h1>
    <div>
        <a href="/stories/new">Add a Story</a>
    </div>

        <% for (let story of stories) {%> 
            <li><a href="/stories/<%= story._id %> "><%= story.title %></a> </li>
        <% } %> 

