<!-- Include boilerplate -->
<% layout('layouts/boilerplate') %> 
<h1>Login</h1>

<!-- User login form. Requires username and password -->
<form action="/login" method="POST" class="">

    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
    </div>

    <!-- Submit button -->
    <button class="btn btn-success">Login</button>

</form>